header{
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(96, 164, 233);
    border-radius: 118px;
    box-shadow: 10px 40px 40px 20px rgb(0, 0, 0, 0.5); /* xtengely, ytengely, elmosódás terjedelem */ /* inset a dobozon belülre rakja */
}

body{
    background-color: rgb(186, 206, 250);
    margin-bottom: 120px; /* vagy amilyen magas a footer */
}

h1{
    margin-top: 25px;
    font-size: 40px;
    text-align: center;
    color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 3px rgba(196, 144, 4, 0.9);
}

h2{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

header p{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(83, 3, 3);
    text-shadow: 0 2px rgb(255, 255, 255, 0.5) ; 
}

.sticky{
    display: flex;
    justify-content: center;
    background-color: rgb(110, 141, 245);
    padding: 25px;
    gap: 20px;
    border-radius: 25px 25px 10px 10px;
}

.sticky a{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.6);
}

nav.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

.bemutat{
    padding-top: 70px;
}

.container{
    background-color: rgb(169, 197, 221);
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 15px;
    padding-bottom: 35px;
    height: 50vh;
    display: grid;
    gap: 30px; 
    grid-template-columns: 31% 33% 31%;
    grid-template-areas: 
        'content-1 content-2 content-3'


}

.content-1{
    background-color: #f6f6f7;
    grid-area: content-1;
    border-radius: 15px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
    padding: 25px 0;
    
}

.content-2{
    background-color: #f7f8fa;
    grid-area: content-2;
    border-radius: 15px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
    padding: 25px 0;
}

.content-3{
    background-color: #f5f5f8;
    grid-area: content-3;
    border-radius: 15px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
    padding: 25px 0;
}

.u1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
}

.u2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    border-radius: 9px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
}

.u3{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.3);
}

p{
    margin-top: 30px;
    padding: 0 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.footer{
    text-align: center;
    padding: 40px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* visszahúzza a felét, így pontosan középen lesz */
    background-color: rgb(12, 9, 179);
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 7px 10px 10px 10px rgb(0, 0, 0, 0.6);
}

a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas: 
        'content-1'
        'content-2'
        'content-3';
      height: auto;
      width: 90%;
    }
  }

